
/* Footer */

.footer-paulas {
    background-color: #3F3A3A;
    color: #D58819;
    width: 100%;
    font-family: 'Baloo Chettan 2', cursive;
}

.coluna-footer-paulas ul li {
    list-style: none;
    padding: 0px;
}

.fonte-footer {
    color: #D58819 !important;

}

.fonte-footer:hover {
    color: #FFF0DB !important;
    text-decoration: none !important;
}


.fab {
    font-size: 20px;
}

.menu-ul {
	padding: 0px;
}