.navbar_cor {
    background-color: #3F3A3A;
    font-family: 'Luckiest Guy', cursive;
}

.tamanho_paula {
    font-size: 25px;
}

.tamanho_navbar span {
    font-size: 25px;
}

.fonte_cor_navbar {
    color: #D58819 !important;
    font-size: 18px;
}

.fonte_cor_navbar:hover {
    color: #FFF0DB !important;
}

.navbar-light .navbar-brand {
    color: #57E2E2 !important
}

.navbar-light .navbar-brand span {
    color: #F8B2C0 !important
}

.cor_da_pesquisa {
    color: #D58819 !important;
    border-color: #D58819 !important;
}

.cor_da_pesquisa:hover {
    color: #D58819 !important;
    border-color: #D58819 !important;
    background-color: #FFF0DB !important;
}

.form-control {
    background-color: #FFF0DB!important;
    border-color: #D58819 !important;
}


/* Footer */

.footer-paulas {
    background-color: #3F3A3A;
    color: #D58819;
    width: 100%;
    font-family: 'Baloo Chettan 2', cursive;
}

.coluna-footer-paulas ul li {
    list-style: none;
}

a {
    color: #D58819 !important;
}

a:hover {
    color: #FFF0DB !important;
    text-decoration: none !important;
}