.tudo-produtos {
    background-color: #fff0db !important;
    color: #3f3a3a;
}

.corpo-produtos {
    font-family: 'Baloo Chettan 2', cursive;
    font-weight: 400;
}

.corpo-produtos h2 {
    font-weight: 500;
}

.link-produtos, .link-produtos:hover, .link-produtos:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.wrapper-produtos {
    display: flex;
}

.navlista-produtos {
    margin-top: -10%;
}

#sidebar-produtos {
    min-width: 250px;
    max-width: 250px;
    background: #3f3a3a;
    color: #d58819;
    transition: all 0.3s;
}

#sidebar-produtos {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3f3a3a;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    width: 250px;
}

#sidebar-produtos .sidebar-header {
    padding: 20px;
}

#sidebar-produtos h3 {
    font-size: 50px;
}

#sidebar-produtos a {
    text-decoration: none;
}

#sidebar-produtos ul.components {
    padding: 20px 0;
}

#sidebar-produtos ul p {
    color: #d58819;
}

#sidebar-produtos ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar-produtos ul li a:hover {
    color: #3f3a3a;
    background: #d58819;
    background-size: 100%;
}

#main-produtos {
    transition: margin-left .5s;
    padding: 20px;
    margin-left: 255px;
}

.link-produtos[data-toggle="collapse"] {
    position: relative;
}

#content-produtos {
    max-width: 100%;
    padding: 20px;
}

.cards-produtos {
    font-family: 'Baloo Chettan 2', cursive;
    background-color: #3e3b39 !important;
}

.cards-produtos h3 {
    font-size: 24px;
    color: #f8b2c0;
}

.cards-produtos h3:hover {
    opacity: 0.8;
}

.cards-produtos h4 {
    font-size: 18px;
    color: #57e2e2;
}

.cards-produtos a {
    text-decoration: none !important;
}